/*
*  home页面的一些样式
*/
.el-card__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}


.wh_content_all {
   
    width: 500px !important;
    background-size: cover !important;
    opacity: .8;
    background: url('~@/style/image/OIP.jpg') no-repeat;
}
.wh_container{
   max-width:  500px !important;
}